<div id="card-component" class="grid-container">
    <div class="row align-center">
        <div class="columns small-12 large-6 text-center">
            <h2>Download the extension</h2>
            <p>  We’ve got more browsers in the pipeline. Please do let us know if you’ve 
                got a favourite you’d like us to prioritize.</p>
        </div>
    </div>
    
    <div id="card-container" class="grid-container">
        <div class="custom-grid">
    
            <div id="chrome-card" class="custom-frame">
                <div class="custom-card">
                    <img  class="card-image" data-interchange="[assets/img/logo-chrome.svg, small]">
                    <div class="content-wrapper-card">
                        <h4>Add to Chrome</h4>
                        <p class="card-subtitle">Minimum version 62</p>
                        <button type="button" class="primary button custom-large">Add & Install Extension</button>
                    </div>
                    <div class="dot-border" data-interchange="[assets/img/Ellipse.svg, small]"></div>
                </div>
            </div>
    
            <div id="firefox-card" class="custom-frame">
                <div class="custom-card">
                    <img  class="card-image" data-interchange="[assets/img/logo-firefox.svg, small]">
                    <div class="content-wrapper-card">
                        <h4>Add to Firefox</h4>
                        <p class="card-subtitle">Minimum version 55</p>
                        <button type="button" class="primary button custom-large">Add & Install Extension</button>
                    </div>
                    <div class="dot-border" data-interchange="[assets/img/Ellipse.svg, small]"></div>
                </div>
            </div>
    
            <div id="opera-card" class="custom-frame">
                <div class="custom-card">
                    <img  class="card-image" data-interchange="[assets/img/logo-opera.svg, small]">
                    <div class="content-wrapper-card">
                        <h4>Add to Opera</h4>
                        <p class="card-subtitle">Minimum version 46</p>
                        <button type="button" class="primary button custom-large">Add & Install Extension</button>        
                    </div>
                    <div class="dot-border" data-interchange="[assets/img/Ellipse.svg, small]"></div>
                </div>
            </div>
    
        </div>
    </div>
    

</div>
