<div class="cta-container">

    <div class="cta-content">
        <div class="cta-header">
            <h4 class="preheading">35,000+ already joined</h4>
            <h3 class="cta-heading">Stay up-to-date with what we’re doing</h3>
        </div>
        <div class="form-wrapper">
            <input class="cta-input" type="text" placeholder="Enter your email address here">
            <button type="button" class="secondary button custom-large cta-button">Contact Us</button>
        </div>
    </div>

</div>

