<div class="grid-container">

<div class="faq-container">
    <div class="faq-header text-center">
        <h2>Frequently Asked Questions</h2>
        <p>  Here are some of our FAQs. If you have any other questions you’d like 
            answered please feel free to email us.</p>
    </div>

    <ul class="accordion" data-accordion data-allow-all-closed="true">

        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">What is Bookmark?</a>
            <div class="accordion-content" data-tab-content>
                <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt 
                    justo eget ultricies fringilla. Phasellus blandit ipsum quis quam ornare mattis.</p>      
             </div>      
        </li>

        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">How can I request a new browser?</a>
            <div class="accordion-content" data-tab-content>
                <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt 
                    justo eget ultricies fringilla. Phasellus blandit ipsum quis quam ornare mattis.</p>      
             </div>      
        </li>

        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">Is there a mobile app?</a>
            <div class="accordion-content" data-tab-content>
                <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt 
                    justo eget ultricies fringilla. Phasellus blandit ipsum quis quam ornare mattis.</p>      
             </div>      
        </li>

        <li class="accordion-item" data-accordion-item>
            <a href="#" class="accordion-title">What about other Chromium browsers?</a>
            <div class="accordion-content" data-tab-content>
                <p>  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt 
                    justo eget ultricies fringilla. Phasellus blandit ipsum quis quam ornare mattis.</p>      
             </div>      
        </li>
    
    </ul>

    <div class="faq-button-wrapper">
        <button type="button" class="primary button custom-small">More Info</button>
    </div>

</div>

</div>