<div class="footer">
    <div class="footer-content-wrapper">

        <div class="logo-wrapper">
            <img data-interchange="[assets/img/logo-bookmark-footer.svg, small]">
        </div>
        <ul class="footer-list">
            <li><a>Features</a></li>
            <li><a>Pricing</a></li>
            <li><a>Contact</a></li>      
        </ul>
        <div class="icon-media-wrapper">
            <div class="icon-footer-wrapper" id="facebook-footer-icon" data-interchange="[assets/img/icon-facebook.svg, small]"></div>
            <div class="icon-footer-wrapper" data-interchange="[assets/img/icon-twitter.svg, small]"></div>

        </div>
    </div>

</div>

