<div class="hero-wrapper">


    <div id="hero-section" class="grid-container">
        <div class="grid-x">
            <div class="intro-header cell small-12 small-order-2  xlarge-5 xlarge-order-1">
                <h1>A Simple Bookmark Manager</h1>
                <p>A clean and simple interface to organize your favourite websites. Open a new 
                    browser tab and see your sites load instantly. Try it for free.</p>
                    <div class="button-wrapper">
                        <button type="button" class="primary button">Get it on Chrome</button>
                        <button type="button" class="button">Get it on Firefox</button>
                    </div>
            </div>
            <div class="cell small-12 small-order-1 xlarge-7 xlarge-order-2">
                <img id="hero-image" data-interchange="[assets/img/illustration-hero.svg, small]">
            </div>
        </div>  
    </div>

    <div class="pattern-container" data-interchange="[assets/img/Pattern.svg, small]"></div>
</div>



