
<div class="grid-container position-relative">
    <div class="row align-center">
        <div class="columns small-12 large-6 text-center">
            <h2>Features</h2>
            <p>Our aim is to make it quick and easy for you to access your favourite websites. 
                Your bookmarks sync between your devices so you can access them on the go.</p>
        </div>
    </div>
    <div class="tab-wrapper row align-center">
        <div class="cell small-12 large-10 end">
            <ul class="tabs" data-tabs id="usp-tabs">
                <li class="tabs-title is-active"><a href="#panel1" aria-selected="true">Simple Bookmarking</a></li>
                <li class="tabs-title"><a data-tabs-target="panel2" href="#panel2">Speedy Searching</a></li>
                <li class="tabs-title"><a data-tabs-target="panel3" href="#panel3">Easy Sharing</a></li>
            </ul>
        </div> 
    </div>   

    <div class="tabs-content position-relative" data-tabs-content="usp-tabs">

        <div class="tabs-panel is-active" id="panel1">
            <div class="row align-middle align-justify">
                <div class="columns small-12 large-6 left-column">
                    <img  class="tab-image" data-interchange="[assets/img/illustration-features-tab-1.svg, small]">
                </div>
                <div class="columns small-12 large-5 right-column">
                    <h3>Bookmark in one click</h3>
                    <p>  Organize your bookmarks however you like. Our simple drag-and-drop interface 
                        gives you complete control over how you manage your favourite sites.</p>
                    <button type="button" class="primary button custom-small hide-for-small-only">More Info</button>
                </div>
            </div> 
        </div>

        <div class="tabs-panel" id="panel2">
            <div class="row align-middle align-justify">
                <div class="columns small-12 large-6 left-column">
                    <img  class="tab-image" data-interchange="[assets/img/illustration-features-tab-2.svg, small]">
                </div>
                <div class="columns small-12 large-5 right-column">
                    <h3>Intelligent search</h3>
                    <p>    Our powerful search feature will help you find saved sites in no time at all. 
                        No need to trawl through all of your bookmarks.</p>
                    <button type="button" class="primary button custom-small hide-for-small-only">More Info</button>
                </div>
            </div> 
        </div>

        <div class="tabs-panel" id="panel3">
            <div class="row align-middle align-justify">
                <div class="columns small-12 large-6 left-column">
                    <img  class="tab-image" data-interchange="[assets/img/illustration-features-tab-3.svg, small]">
                </div>
                <div class="columns small-12 large-5 right-column">
                    <h3>Share your bookmarks</h3>
                    <p>    Easily share your bookmarks and collections with others. Create a shareable 
                        link that you can send at the click of a button.</p>
                    <button type="button" class="primary button custom-small hide-for-small-only">More Info</button>
                </div>
            </div> 
        </div>
        <div class="usp-pattern-wrapper hide-large" data-interchange="[assets/img/Pattern-usp.svg, small]"></div>
    </div> 
</div>

<div class="position-relative">
    <div class="usp-pattern-wrapper-desktop show-large" data-interchange="[assets/img/Pattern-usp.svg, small]"></div>
</div>

